@import "tailwindcss";
@plugin "daisyui";


img {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

button {
  cursor: pointer;
}

.header-menu a.active {
  @apply text-[#FF8F8F] font-semibold;
}


.hero-swiper .swiper-pagination-bullet {
  background-color: white !important;
  opacity: 0.5;
}
.hero-swiper .swiper-pagination-bullet-active {
  background-color: #ff8f8f !important;
  opacity: 1;
}

.hero-swiper .swiper-button-next,
.hero-swiper .swiper-button-prev {
  @apply text-white w-12 h-12 bg-black/30 rounded-full flex items-center justify-center transition-colors duration-300;
}

.hero-swiper .swiper-button-next:hover,
.hero-swiper .swiper-button-prev:hover {
  @apply bg-[#FF8F8F] text-white;
}

.hero-swiper .swiper-navigation-icon {
  @apply w-8 h-8;
}